/* Universal Box Sizing */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.outside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  background: pink;
}

.top-header {
  display: flex;
  /* width: 1920px;
  height: 80px; */
  /* width: 1440px; */

  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 5px #0000001a;
  opacity: 1;
  z-index: 10;
}

.stryker-logo {
  width: 120px;
  height: 30px;
  margin-top: 19px;
  margin-left: 30px;
  background: transparent url("../img/logo-stryker.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 90px;
}

.icon-info {
  margin-top: 28px;
  /* margin-left: 1708px; */
  /* margin-left: 800px; */
  margin-top: 20px;
  margin-left: 1250px;
  width: 24px;
  height: 24px;
  background: transparent url("../img/icon-info.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 20px;
}

.nav-consoles-settings-container {
  display: flex;
  /* width: 1920px; */
  width: 100%;
  /* height: 898px; */
  height: 738px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.side-navbar {
  width: 60px;
  height: 738px;
  background: #414141;
}

.round-image-div {
  width: 37px;
  height: 37px;
  margin-top: 15px;
  margin-left: 12px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #2b72cc;
  border-radius: 50%;
}

.round-image-div:hover {
  cursor: pointer;
}

.home-icon {
  width: 24px;
  height: 24px;
  background: transparent url("../img/icon-home.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 18px;
}

.printer-icon {
  margin-top: 18px;
  margin-left: 21px;
  width: 24px;
  height: 24px;
  background: transparent url("../img/icon-print.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 18px;
}

.printer-icon:hover {
  cursor: pointer;
}

.consoles-container {
  width: 180px;
  /* height: 898px; */
  height: 738px;
  background: #f7f7f7;
}

.cameras-title {
  margin-top: 19px;
  margin-left: 14px;
  margin-bottom: 6px;
}

.cameras-title h1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}

.camera-div {
  display: flex;
  width: 165px;
  height: 39px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  opacity: 1;
  margin-right: 70px;
  padding-top: 14px;
}

.camera-div:hover {
  cursor: pointer;
}

.camera-tag-div {
  width: 80px;
  padding-left: 14px;
}

.camera-div p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.arrow-outer-div .arrow-div::after {
  content: "";
  margin-top: 8px;
  position: absolute;
  left: 212px;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  background: transparent url("../img/icon-arrow.svg") 0% 0% no-repeat
    padding-box;
  background-size: 18px;

  transition: all 0.3s ease-out;
}

.arrow-outer-div.open .arrow-div::after {
  transform: translateY(-50%) rotate(-180deg);
}

/* .arrow-div {
  position: relative;
  left: 70px;
  width: 24px;
  height: 24px;
  float: right;
  background: transparent url("../img/icon-arrow.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 18px;
} */

/* Monitors */
.monitors-div {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.3s ease-in;
  width: 180px;
}

.monitor-title-div {
  margin-top: 16px;
  margin-bottom: 8px;
}

.monitor-title-div p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #4c5468;
  opacity: 1;
}

.monitors-div-active {
  max-height: 1000px;
  height: auto;
  transition: all 0.3s ease-out;
  padding-left: 16px;
}

.monitor-btn-div {
  width: 90%;
  height: 30px;
  margin-bottom: 6px;
  background: #eaeaea;
  border-radius: 5px;
  cursor: pointer;
}

.monitor-btn-div-active {
  background: #2b72cc;
  width: 90%;
  height: 30px;
  margin-bottom: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.monitor-btn-div-active p {
  padding-top: 8px;
  padding-left: 12px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.monitor-btn-div:hover {
  background: #2b72cc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.monitor-btn-div:hover p {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.monitor-btn-div p {
  /* margin-top: 18px; */
  padding-top: 8px;
  padding-left: 12px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  /* color: #262626; */
  /* color: #fff; */
  color: #707070;
  opacity: 1;
}
